/*
branco: #fdfdfd;
roxo claro: #815f82;
roxo medio: #5d2f5f;
cinza: #b5a4b7;
roxo escuro: #461048;
*/

/*config gerais*/
body{
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  font-size: 1.25em;
}

img{
  max-width: 100%;
}

section{
  display: block;
  position: relative;
  width: inherit;
  height: 82vh;
}

/*botao flutuante*/
.botao-flutuante{
    position: sticky;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;

    font-family: sans-serif;
    text-align: center;

    color: #fff;
    background-color: #461048;
}

.botao-flutuante p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*barra de navegacaco*/
.menu{
    position: sticky;
    top: 0;
    
    width: inherit;
    height: 18vh;
    
    background-color: #461048;
    z-index: 1;
}

.elementos-menu{
    position: absolute;
    width: auto;
    height: auto;
    display: run-in;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 560px;
}

.botao-menu, .div-menu{
  display: inline;
  width: auto;
  color: #fff;
}

.botao-menu{
  font-size: 1em;
  margin: 0 1.2em;
}

.div-menu{
  font-size: 2.2em;
  color: yellow;
}

/*config inside sections*/
.titulo{
  font-size: 3.5em;
  position: absolute;
  left: 7%;
  top: 10%;
}

.servicos-section{
  background-color: #5d2f5f;
}

.sobre-section{
  background-color: #fdfdfd;
}

.calendario-section{
 background-color: #5d2f5f;
}

.contato-section{
  background-color: #fdfdfd;
}

/*tela maior*/
@media not all and (max-width: 720px){
  .botao-fechar-menu, .botao-abrir-menu{
    display: none;
  }

  .botao-fechar-menu{
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .logomarca-div{
    position: absolute;
    width: 80%;
    height: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  .logo-img{
    width: 40%;
    vertical-align: middle;
    margin-right: 1%;
  }

  .nome-img{
    width: 55%;
    vertical-align: middle;
    margin-left: 1%;
  }

  .logo-img, .nome-img{
    display: inline-block;
  }
}

/*tela menor*/
@media(max-width: 720px){
    section{
        height: 100vh;
    }
    .menu{
        position: absolute;
        width: 60%;
        height: 100vh;
        left: -60%;
        transition: left 0.3s ease-out;
    }
    .menu-ativo .menu{
        left: 0;
    }
    
}
