/*
branco: #fdfdfd rgb(253, 253, 253);
roxo claro: #815f82 rgb(129, 95, 130);
roxo medio: #5d2f5f rgb(93, 47, 95);
cinza: #b5a4b7 rgb(181, 164, 183);
roxo escuro: #461048 rgb(70, 16, 72);
amarelo: #FCDE01 rgb(252, 222, 1);
*/

/*config gerais*/
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    height: 100%;
}

img{
  max-width: 100%;
}

section{
  position: relative;
  height: 82vh;
}

/*botao flutuante*/
.botao-flutuante{
    position: sticky;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;

    font-family: sans-serif;
    text-align: center;

    color: #fff;
    background-color: #461048;
}

.botao-flutuante p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*config inside sections*/

section:nth-child(odd){
    background-color: #fdfdfd;
}

section:nth-child(even){
    background-color: #5d2f5f;
}

.hero-section{
    background-color: #fdfdfd !important;
}

/*config para ambas as telas*/
.menu{
    background-color: #461048;
    z-index: 2;
}

.botao-menu{
    color: #fff;
}

.botao-menu:hover{
    cursor: pointer;
}

.logo-img, .nome-img{
    position: absolute;
}

/*section servicos*/
#servicos-titulo{
    color: #461048;
}

.item-lista{
    color: #461048;
    font-size: 1.2em;
    background-color: rgba(129, 95, 130, .5);
    padding: 1%;
    height: 20%;
}

.item-lista:hover{
    color: #FCDE01;
    background-color: #5d2f5f;
    transition: background 0.3s ease-out;
    transition: color 0.3s ease-out;
    cursor: pointer;
}

.item-lista + .item-lista{
    margin-top: .1em;
}

.lista-servicos{
    min-width: 210px;
    max-height: 130px;
    overflow: auto;
}

.video-servico{
    border: none;
}

/*scroll bar*/
.lista-servicos::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(129, 95, 130, .1);
    border-radius: 20px;
}

.lista-servicos::-webkit-scrollbar-thumb{
    background-color: rgba(129, 95, 130, 1);
    border-radius: 20px;
}

/*tela maior*/
@media not all and (max-width: 720px){
    /*sections*/
    .titulo{
        font-size: 3em;
        position: absolute;
        left: 20%;
        top: 20%;
        transform: translate(-50%, -50%);
    }
    
    /*menu de navegacaco*/
    .menu{
        position: sticky;
        top: 0;

        width: inherit;
        height: 18vh;
    }
    
    .titulo-compacto{
        display: none;
    }
    
    .elementos-menu{
        position: absolute;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 560px;
    }

    .botao-menu, .div-menu{
        display: inline;
        width: auto;
    }

    .botao-menu{
        margin: 0 1.2em;
    }

    .div-menu{
        font-size: 2.2em;
        color: #FCDE01;
    }
    .div-menu:hover{
        cursor: default;
    }
    
    .botao-fechar-menu, .botao-abrir-menu{
        display: none;
    }
    
    /*section hero*/
    .logo-img{
        width: 30%;
        left: 25%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .nome-img{
        width: 50%;
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    /*section servicos*/
    .lista-servicos{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        width: 235px;
        height: 130px;  
    }
    
    .video-servico{
        width: 55%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        background-color: #000;
        margin-left: 1em;
    }
}

/*tela menor*/
@media(max-width: 720px){
    /*config gerais*/
    section{
        height: 90vh;
    }
    .titulo{
      display: none;
    }
    
    /*menu de navegacao*/
    .titulo-compacto{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: .2em;
        font-size: 1.5em;
        max-height: 9vh;
        color: #FCDE01;
    }
    
    .botao-abrir-menu{
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translate(-50%, -50%);
    }
    
    .menu{
        position: absolute;
        width: 40%;
        height: 100%;
        left: -40%;
        transition: left 0.3s ease-out;
        z-index: 2;
    }
    
    .menu-compacto{
        position: sticky;
        top: 0;
        
        height: 10vh;
        width: 100vw;
        min-width: 490px;
        background-color: #461048;
        z-index: 1;
    }
    
    .menu-ativo .menu{
        left: 0;
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
    }
    
    .div-menu{
        display: none;
    }
    
    .botao-menu{
        display: block;
        padding: 20px;
        width: auto;
    }
    
    .botao-menu:hover{
        transition: background 0.3s ease-out;
        background-color: rgba(252, 222, 1, .2);
    }
    
    .elementos-menu{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
    .botao-fechar-menu{
        position: absolute;
        top: 5%;
        left: 5%;
    }
    
    /*section hero*/
    .logo-img{
        width: 55%;
        min-width: 370px;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
    }

    .nome-img{
        width: 70%;
        min-width: 480px;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    }
    
    /*section servicos*/
    .lista-servicos{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 235px;
        height: 130px;  
    }
    
    .video-servico{
        width: 80%;
        height: 50%;
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
    }
}
